/* src/css/App.css */
/* client/src/components/ProductDetails.css */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Alfa Slab One', cursive; */

h2.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 35px;
  color: rgb(48, 121, 98);
  margin: 15px;
}
